Te damos la bienvenida a la sucursal telefónica de Contoso!

Navega más fácil en tu sucursal virtual.
Olvídate de la frase e imagen con la que ingresabas.
A partir de ahora solo hazlo con tu usuario y clave, el sistema de seguridad que conocías cambió.
Ahora haz todo más rápido con la seguridad de siempre.
Descubre la sucursal Virtual personas renovada para ti, qué esperas evolucionamos juntos.

Para continuar con tu llamada, necesitamos tu número de identificación. 
Por favor, márcalo ahora.

Puedo darte información sobre:
    - Cuentas de ahorro 
    - Ayudarte a solicitar una tarjeta de crédito
    - Darte informacion de tu credito o informate de la TRM
