Hola, {{ nome }}, te llamamos desde la central de seguridad del Banco Contoso.
Hemos identificado un intento de compra por un valor de {{valor}} {{moeda}} en un sitio {{site}}
¿Fue realizada esta transacción por usted?
Podemos confirmar o cancelar la operación en base a su respuesta.
Recordando que no solicitaremos contraseñas ni códigos por teléfono.